In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
df_train=pd.read_csv('train_final.csv',index_col=False)
labels=df_train[['784']]

In [3]:
df_train.drop(df_train.columns[[784]],axis=1,inplace=True)
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,83,60,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
np.random.seed(1212)
import keras
from keras.models import Model
from keras.layers import *
from keras import optimizers
from keras.layers import Input, Dense
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout
from keras.layers import Flatten
from keras.layers.convolutional import Conv2D
from keras.layers.convolutional import MaxPooling2D
from keras.utils import np_utils
from keras import backend as K
#K.set_image_dim_ordering('th')
#K.set_image_data_format('th')

Using TensorFlow backend.

In [5]:

labels=np.array(labels)

In [7]:
from keras.utils.np_utils import to_categorical
cat=to_categorical(labels,num_classes=14)

In [8]:
print(cat[0])

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0.]

In [9]:
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,83,60,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

l=[]
for i in range(47504):
    l.append(np.array(df_train[i:i+1]).reshape(1,28,28))

In [10]:
l=[]
for i in range(78217 ):
    l.append(np.array(df_train[i:i+1]).reshape(28,28,1))

In [11]:
np.random.seed(7)

In [15]:
model = Sequential()
#model.add(Conv2D(30, (5, 5), input_shape=(1 , 28, 28), activation='relu'))
model.add(Conv2D(30, (5, 5), input_shape=(28,28,1), activation='relu'))
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Conv2D(15, (3, 3), activation='relu'))
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Dropout(0.2))
model.add(Flatten())
model.add(Dense(128, activation='relu'))
model.add(Dense(50, activation='relu'))
model.add(Dense(14, activation='softmax'))
# Compile model
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [16]:
from keras.models import model_from_json

In [17]:
model.fit(np.array(l), cat, epochs=15, batch_size=200,shuffle=True,verbose=1)

Epoch 1/15
78217/78217 [==============================] - 38s 484us/step - loss: 0.6314 - accuracy: 0.8411s - loss: 0.6500 - accuracy:  - ETA: 1s -
Epoch 2/15
78217/78217 [==============================] - 38s 485us/step - loss: 0.1706 - accuracy: 0.9519
Epoch 3/15
78217/78217 [==============================] - 38s 485us/step - loss: 0.1151 - accuracy: 0.9675
Epoch 4/15
78217/78217 [==============================] - 37s 478us/step - loss: 0.0941 - accuracy: 0.9734s - loss: 0.094
Epoch 5/15
78217/78217 [==============================] - 37s 472us/step - loss: 0.0815 - accuracy: 0.9767
Epoch 6/15
78217/78217 [==============================] - 37s 476us/step - loss: 0.0702 - accuracy: 0.9800s - loss: 0.0701 - accuracy: 0.
Epoch 7/15
78217/78217 [==============================] - 37s 475us/step - loss: 0.0618 - accuracy: 0.9824
Epoch 8/15
78217/78217 [==============================] - 37s 475us/step - loss: 0.0546 - accuracy: 0.9836
Epoch 9/15
78217/78217 [==============================] - 37s 473us/step - loss: 0.0531 - accuracy: 0.9840
Epoch 10/15
78217/78217 [==============================] - 37s 472us/step - loss: 0.0479 - accuracy: 0.9859
Epoch 11/15
78217/78217 [==============================] - 37s 477us/step - loss: 0.0446 - accuracy: 0.9865
Epoch 12/15
78217/78217 [==============================] - 38s 484us/step - loss: 0.0419 - accuracy: 0.9873
Epoch 13/15
78217/78217 [==============================] - 37s 474us/step - loss: 0.0398 - accuracy: 0.9879s - loss: 0.0399 - accuracy:
Epoch 14/15
78217/78217 [==============================] - 37s 475us/step - loss: 0.0350 - accuracy: 0.9893
Epoch 15/15
78217/78217 [==============================] - 38s 489us/step - loss: 0.0347 - accuracy: 0.9892

In [18]:

model_json = model.to_json()
with open("model_final.json", "w") as json_file:
    json_file.write(model_json)
# serialize weights to HDF5
model.save_weights("model_final.h5")

In [19]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d_3 (Conv2D)            (None, 24, 24, 30)        780
_________________________________________________________________
max_pooling2d_3 (MaxPooling2 (None, 12, 12, 30)        0
_________________________________________________________________
conv2d_4 (Conv2D)            (None, 10, 10, 15)        4065
_________________________________________________________________
max_pooling2d_4 (MaxPooling2 (None, 5, 5, 15)          0
_________________________________________________________________
dropout_2 (Dropout)          (None, 5, 5, 15)          0
_________________________________________________________________
flatten_2 (Flatten)          (None, 375)               0
_________________________________________________________________
dense_4 (Dense)              (None, 128)               48128
_________________________________________________________________
dense_5 (Dense)              (None, 50)                6450
_________________________________________________________________
dense_6 (Dense)              (None, 14)                714
=================================================================
Total params: 60,137
Trainable params: 60,137
Non-trainable params: 0
_________________________________________________________________

In [20]:
pwd()

'C:\\Users\\Administrator\\Desktop\\New folder (4)\\New folder'